@import "../../Global";

.projects {
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    color: #CCD6F6;
    overflow: hidden;
    margin: 15px;
    padding: 15px;

    @include mobile{
      font-size: 20px;
    }
  }

  ul {
    margin: 15px;
    padding: 0;
    list-style: none;
    display: flex; // make them horizontal

    @include mobile{
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }

  }

  .project-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;

    @include mobile{
      width: 100%;
    }

    .project-items {
      width: 300px;
      height: 200px;
      border-radius: 20px;
      border: 1px solid lightblue;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #CCD6F6;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include mobile{
        width: 130px;
        height: 100px;
      }

      h3 {
        position: absolute;
        justify-content: center;
        align-items: center;
        overflow-wrap: normal;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;

        img {
          opacity: 0.2;
          z-index: 0;
        }

      }
      .link-icon {
        position: absolute;
        left: 140px;
        top: 50px;
        font-size: 30px;

        a {
          color: #CCD6F6;

          &:hover {
            color: #57DFC3;
          }
        }
      }

    }

  }
}