@import "./Global";

/* Hide scrollbar for Chrome, Safari and Opera, Firefox */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
}


* {
  scrollbar-width: none;
}

* {
  //font-family: 'Inter', sans-serif;

  @include mobile {
    ::-webkit-scrollbar-thumb, ::-webkit-scrollbar {
      display: none;
    }
  }
}


.app {
  height: 100vh;
  scroll-behavior: smooth; // on link click it scrolls slower to page, not instantly
  scroll-snap-type: y mandatory;
  scrollbar-width: none; // Beta for Firefox, doesn't work
  -ms-overflow-style: none;
  overflow-y: scroll;


  &::-webkit-scrollbar { // for other browsers
    display: none;
  }

}

.sections {
  width: 100%;
  height: calc(100vh - 69px); // start the container after header, after 70px
  background-color: antiquewhite;
  position: relative;
  top: 70px;


  > * { // for every component in section part
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;

  }
}