* {
  //font-family: 'Inter', sans-serif;
  overflow: hidden;

}

.app {
  height: 100vh;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

}

.sections {
  width: 100%;
  height: calc(100vh - 70px); // start the container after header, after 70px
  background-color: antiquewhite;
  position: relative;
  top: 70px;
  scroll-behavior: smooth; // on link click it scrolls slower to page, not instantly
  scroll-snap-type: y mandatory;
  scrolbar-width: none; // for Firefox, but it doesn't work
  &::-webkit-scrollbar { // for other browsers
    display: none;
  }


  > * { // for every component in section part
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;

  }
}